



.conteiner {
  display: flex;
  flex-direction: row;

  justify-content: center;

  margin-top: 5em;
  margin-left: 35em;
  margin-right: 35em;

  flex-wrap: wrap;
}

.Produto {
  display: flex;
  flex-direction: column;

  margin-left: 25px;
  margin-bottom: 15px;

  padding: 10px;

  background-color: rgb(218, 245, 255);

  box-shadow: 5px 10px 10px rgb(209, 253, 120);
}

.imagem img {
  width: 8em;
  height: 8em;
}


.nome {
  text-align: center;

  padding-top: 5px;
  padding-bottom: 5px;
}

.valor {
  text-align: center;
  padding-bottom: 8px;
}


.botao {
  text-align: center;

}

.botao button {
  cursor: pointer;

  padding: 10px;

  background-color: rgb(253, 227, 253);


  border-radius: 25px;
  border: none;



}


.botao button:hover {
   box-shadow: 0px 0px 10px 10px rgb(255, 204, 255);
}


